.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 150px;
  background-color: #280228;

  @include media-tablet {
    flex-direction: column;
    padding: 28px 0;
    min-height: 190px;
  }

  @include media-mobile {
    flex-wrap: wrap;
  }
}

.footer__data {
  display: flex;
  justify-content: space-between;
  gap: 21px;
  margin: 0;
  @include media-tablet {
  }

  @include media-mobile {
    padding: 0px;
    align-items: center;
  }
}

.social {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  cursor: pointer;
  a {
    &:hover {
      @extend %transition;
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
  }
}

.copyright-rs,
.github {
  a {
    @include font(2rem, 5rem, $wight: 400);
    @extend %font;
    @extend %transition;
    &:hover {
      color: $color-primery;
    }
    @include media-tablet {
      line-height: 2.4rem;
    }
  }
}

.copyright-rs[data-theme="light"],
.github[data-theme="light"] {
  a {
    color: $color-text-light;
    &:hover {
      color: $color-primery;
    }
  }
}
