.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  @extend %transition;
  img {
    &:hover {
      @extend %transition;
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
  }
}
