.header__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 150px;
  column-gap: 10px;
  background: linear-gradient(171deg, #280228, #1c1c1c 81%);
  @include media-mobile {
    align-items: stretch;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  // cursor: pointer;
  @extend %transition;
  img {
    fill: #1c1c1c;
    &:hover {
      @extend %transition;
      filter: $hover;
    }
  }
}
.search {
  padding: 0 20px;
  border-radius: 15px;
  height: 35px;
  border: $color-text-light;
  &:focus {
    border-color: $color-text-light;
    @extend %transition;
  }
}

.search-block {
  display: block;
  position: relative;
  i {
    position: absolute;
    cursor: pointer;
    top: 17%;
    right: 5%;
    transition: 0.5s;
  }
}
.fa-search {
  &:before {
    content: "\f002";
    font-family: FontAwesome;
    color: $color-text-light;
  }
  &:hover {
    @extend %transition;
    filter: $hover;
  }
}

.search-error {
  position: absolute;
  top: 40px;
  @include font(1.6rem, 2rem, $wight: 400);
  @extend %font;
  @extend %transition;
}
